@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atma&family=Baloo+2:wght@600&display=swap');
 
body {
	font-family: 'Baloo 2', cursive;
	background: #D3F0DA;
}


nav.primary-navbar {
	display: flex;
	width: 1440px auto;
	height: 127px;
	background: #FE5481;
}

nav.primary-navbar header h1 {
	font-family: 'Atma', cursive;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: left;
	color: #633E26;
}

nav.primary-navbar img{
	width: 278px;
	height: 278px;
}

nav.primary-navbar ul.nav {
	display: flex;
	list-style: none;
	padding: 0;
}

nav.primary-navbar ul.nav li a {
	padding: 2rem 0.5rem;
	font-family: 'Atma', cursive;
	text-decoration: none;
	background: #FE5481;
	color: #39122E;
}

section.typography {
	width: 30rem; 
	margin: 5rem auto; 
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

section.typography img {
	width: 300px;
	height: 300px;
	margin: 0.625rem;
}

section.typography h2 {
	font-family: 'Baloo 2', cursive;
	font-size: 4rem;
	font-weight: bold;
	margin: 0;
	color: #FE5481;
}

section.typography h3 {
    font-family: 'Baloo 2', cursive;
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	color: black;
}

section.typography p {
	font-family: 'Baloo 2', cursive;
	font-size: 0.875rem;
	font-weight: bold;
	color: black;

}

section.about-text {
	width: 50rem;
	margin: 5rem auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;

}
 
section.contact-socials{
	width: 30rem;
	margin: 5rem auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
}

footer.primary-footer {
	display: flex;
	width: 1440px auto;
	height: 127px;
	background: #FE5481;

}

footer.primary-footer img {
    
	height: 50px;

}