
 
 /*BODY SECTION*/
body {
	overflow: hidden;
	font-family: 'Baloo 2', cursive;
	background: #8d7768;
}

img {
	max-width: 95%;
}

@media screen and (min-width: 480px) {
	img {
	max-width: 100%;
    }
}


/*HEADER SECTION*/
header.main-header {
	overflow: hidden;
	width: auto;
	height: 95px;
	background: #38030c;
}

@media screen and (min-width: 480px) {
	header.main-header{
	width: auto;
	text-decoration: none;
    }
}
/*header block ends*/
 

/*navigation img link*/
nav.main-nav-link{
	width:90px;
	height:auto;
}
nav.main-nav-link img{
	width: 90px;
	height: 95px;
	padding: 0;	
}

@media screen and (min-width: 480px) {
	nav.main-nav-link{
		width: 100px;	
		height: 95px;
	   }
	nav.main-nav-link img{
     width: 100px;	
	 height: 95px;
    }
}


/*navigation header menu*/
nav.primary-header-links {
	overflow: hidden;
		position: relative;
		left: 555px;
		margin-top: 45px;
		padding: 10px;
		font-size: 17px;
		display: flex;
}



/*TYPOGRAPHY SECTION*/
section.typography {
	margin: 5rem auto; 
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 480px) {
    section.typography {
	width: 30rem;
	} 
}

section.typography img {
	width: 300px;
	height: 300px;
	margin: 0.625rem;
}

section.typography h2 {
	font-family: 'Baloo 2', cursive;
	font-size: 4rem;
	font-weight: bold;
	margin: 0;
	color: #FE5481;
	text-shadow: 5px -2px 2px #633E26;
}

section.typography h3 {
    font-family: 'Baloo 2', cursive;
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	color: black;
}

section.welcome-text {
	margin: 5rem auto; 
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Baloo 2', cursive;
	font-size: 0.875rem;
	font-weight: bold;
	color: black;
	background: white;

}

@media screen and (min-width: 480px) {
    section.welcome-text {
	width: 30rem;
	} 
}

section.about-text {
	margin: 5rem auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;

}

@media screen and (min-width: 480px) {
    section.about-text {
	width: 50rem;
    }
}
 
section.contact-socials{
	margin: 5rem auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: white;
}


@media screen and (min-width: 480px) {
	section.contact-socials{
	width: 30rem;
    }
}

section.photo-gallery {
	padding: 3rem;
}

section.photo-gallery ul{
	list-style: none;
	padding: 0;	
}

@media screen and (min-width: 480px){
    section.photo-gallery ul{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;	
    }
}



@media screen and (min-width: 480px) {
    section.photo-gallery ul li{
	width: calc(33% - 3rem);
	padding: 1rem;
    }
}



section.photo-gallery img{
    width: 105%;
	height: auto;
	
}

section.prices-images{
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
		
}

section.prices-images ul{
	list-style: none;
}
section.prices-images img{
	width: auto;
	
}

@media screen and (min-width: 480px) {
section.prices-images img{
	height: 31.25rem;
	margin: 0.625rem;
    }
}







/*FOOTER SECTION*/
footer.primary-footer {
	display: flex;
	width: auto;
	height: 127px;
	background: #FE5481;

}

footer.primary-footer img {
	height: 50px;

}